# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env
.env.*
accounts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TenVision
TenVision/.git/
TenVision/.venv/
TenVision/__pycache__/
TenVision/images/
